.chip{
    display:flex;
    gap:1-px;
    align-items: center;
    padding: 4px 8px;
    color:white;
    border-radius: 40px;
    background-color: gray;
    width: fit-content;
    font-size: 14px;
}
.chip_svg{
    height:16px;
    width: 16px;
    cursor: pointer;
}